.player {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 65%;

  margin: auto;
  z-index: 1;

  padding: 1rem;
  border-radius: 0.5rem;

  background-color: rgba(35, 39, 46, 0.85);
}

span {
  color: azure;
  font-size: large;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

span.title {
  width: max-content;
}

div.line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: min-content;

  align-items: center;
  align-content: space-around;
  justify-content: center;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

div.line:last-child {
  overflow: hidden;
  height: 100%;
}

span.value {
  width: 3rem;
}
