.player {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: min-content;

  margin: auto;
  z-index: 1;

  padding: 3rem;
  border-radius: 0.5rem;

  background-color: rgba(40, 44, 52, 0.5);

  div.line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-content: space-around;

    width: 100%;

    align-items: center;
    justify-content: space-between;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    span.value {
      width: 3rem;
    }
  }

  span {
    color: azure;
    font-size: large;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  span.title {
    width: max-content;
  }
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #282c34;
}
